<script id="startProjectMainTemplate" type="text/x-jQuery-tmpl">
<div id="sestartprojectmain">
    <table id="sestartprojectreport" class="reporttable">
    <tr>
    <th>WorkFlowName</th>
    <th>BugTemplate</th>
    <th></th>
    </tr>
    </table>
    </div>
    <div id="sestartprojectactions">
        <div class="startprojectaction" class="projectaction">
            <p>Start Project</p>
        </div>
        <div class="suspendprojectaction" class="projectaction">
             <p>Suspend Project</p>
        </div>
        <div class="attachbugtemplate" class="projectaction">
            <p>Sttach Bug Template</p>
        </div>
    </div>
</script>
