<script id="statisticsMainTemplate" type="text/x-jQuery-tmpl">
    <div id="setrackingstatistics">
       <span> this is statistics</span>
    </div>
    <table id="tabbb" class="statistic">
	<caption>2009 Employee Sales by Department</caption>
	<thead class="statistic">
		<tr class="statistic">
			<td class="statistic"></td>
			<th class="statistic" scope="col">food</th>
			<th class="statistic" scope="col">auto</th>
			<th class="statistic" scope="col">household</th>
			<th class="statistic" scope="col">furniture</th>
			<th class="statistic" scope="col">kitchen</th>
			<th class="statistic" scope="col">bath</th>
		</tr>
	</thead>
	<tbody class="statistic">
		<tr class="statistic">
			<th class="statistic" scope="row">Mary</th>
			<td class="statistic">190</td>
			<td class="statistic">160</td>
			<td class="statistic">40</td>
			<td class="statistic">120</td>
			<td class="statistic">30</td>
			<td class="statistic">70</td>
		</tr>
		<tr class="statistic">
			<th class="statistic" scope="row">Tom</th>
			<td class="statistic">3</td>
			<td class="statistic">40</td>
			<td class="statistic">30</td>
			<td class="statistic">45</td>
			<td class="statistic">35</td>
			<td class="statistic">49</td>
		</tr>
		<tr class="statistic">
			<th class="statistic" scope="row">Brad</th>
			<td class="statistic">10</td>
			<td class="statistic">180</td>
			<td class="statistic">10</td>
			<td class="statistic">85</td>
			<td class="statistic">25</td>
			<td class="statistic">79</td>
		</tr>
		<tr class="statistic">
			<th class="statistic" scope="row">Kate</th>
			<td class="statistic">40</td>
			<td class="statistic">80</td>
			<td class="statistic">90</td>
			<td class="statistic">25</td>
			<td class="statistic">15</td>
			<td class="statistic">119</td>
		</tr>		
	</tbody>
</table>	
</script>