body 
{
    background:#260930;
	overflow: hidden;
}

#tile
{
    font-size: 40px;
	color:#fff;
    float:left;
    width:200px;
    height:200px;
    position:relative;
}
#tile2
{
    font-size: 40px;
	color:#fff;
    float:left;
    width:200px;
    height:200px;
    position:relative;
}
.ground
{
    width:3000px;
    height:650px;
    margin:0px;
}
#mostused
{
    width:1000px;
    height:auto;
    position:absolute;
    top:80px;
}
.gtitle
{
	font-size: 40px;
	color:#fff;
	position: absolute;
	top:0px   
}
