<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
  <?define BUILDTARGET="C:\WorkSpace\Practise\RESTfulWMIBuild\" ?>
  <Product Id="9724e2e5-8746-4c86-978d-29166b6f49b3"
           Name="RESTFulWMISetup"
           Language="1033" Version="1.0.0.0"
           Manufacturer="RESTFulWMISetup"
           UpgradeCode="9724e2e5-8746-4c86-978d-29166b6f49b3">
    <Package InstallerVersion="200" Compressed="yes" Platform="x64" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    <Condition Message="You must have administrator privileges to install the application.">
      <![CDATA[Privileged]]>
    </Condition>   
    
    
    <!--<iis:WebSite Id="DefaultWebSite" Description="Default Web Site">
      <iis:WebAddress Id="AllUnassigned" Port="443"/>
    </iis:WebSite>-->

    <!--<Binary Id="install_binaries_exe" SourceFile="[#install_binaries_exe]"/>-->
    
    <CustomAction Id="InstallBinaryAction"
               FileKey="install_binaries_exe"
               ExeCommand="-install -abc -abc"
               Execute="deferred"
               Return="check"
               HideTarget="no"
               Impersonate="no" />

    <CustomAction Id="UninstallBinaryAction"
               FileKey="install_binaries_exe"
               ExeCommand="-uninstall -abc -abc"
               Execute="deferred"
               Return="check"
               HideTarget="no"
               Impersonate="no" />


    <InstallExecuteSequence>
      <Custom Action="InstallBinaryAction" After="InstallFiles"/>
      <Custom Action="UninstallBinaryAction" Before="RemoveFiles">REMOVE="ALL"</Custom>
    </InstallExecuteSequence>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLLOCATION" Name="WindowsServer2012WMIService">
          
          <Component Id="WindowsServer2012WMIComponent" Guid="08D9CCF3-FCB3-43CA-9460-8527138718D2" Win64="yes">
            <File Id="service_exe" Name="WindowsServer2012WMIComponentService.exe" Source="$(var.BUILDTARGET)WindowsServer2012WMIComponentService.exe"></File>
            <File Id="user_business_object" Name="SBSBusinessObject.dll" Source="$(var.BUILDTARGET)SBSBusinessObject.dll"></File>
            <File Id="install_binaries_exe" Name="InstallBinaries.exe" Source="$(var.BUILDTARGET)InstallBinaries.exe"></File>
            <!--<File Id="sbs_wmi_notification" Name="SBSWMINotifications.dll" Source="$(var.BUILDTARGET)SBSWMINotifications.dll"></File>-->
            
            <ServiceInstall Id="WindowsServer2012WMIServiceInstaller" Type="ownProcess" Vital="yes" Name="ws2012wmisvc" 
                            DisplayName="Windows Server 2012 Essentials WMI Service" 
                            Description="This service provides the wmi part of the windows server 2012 essentials." 
                            Start="demand" 
                            Account="NT Authority\Network Service" ErrorControl="ignore" Interactive="no">
            </ServiceInstall>
            <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="ws2012wmisvc"/>
            
          </Component>
          <!--<Component Id="WindowsServer2012WebApiConfig" Guid="1FF9CC19-4050-4D84-8F0C-FF4B52B0DFA1" Win64="yes">
            <File Id="Web.config" Name="Web.config" Source="$(var.BUILDTARGET)Web.config"></File>
            <File Id="Global.asax" Name="Global.asax" Source="$(var.BUILDTARGET)Global.asax"></File>
          </Component>-->
          
          <!--<Directory Id="bin" Name="bin">
            <Component Id="WindowsServer2012WebApiComponent" Guid="08587205-8966-4380-A3FB-3372D5D522F0" Win64="yes">
              <File Id="Antlr3.Runtime.dll" Name="Antlr3.Runtime.dll" Source="$(var.BUILDTARGET)Antlr3.Runtime.dll"></File>
              <File Id="EntityFramework.dll" Name="EntityFramework.dll" Source="$(var.BUILDTARGET)EntityFramework.dll"></File>
              <File Id="EntityFramework.xml" Name="EntityFramework.xml" Source="$(var.BUILDTARGET)EntityFramework.xml"></File>
              <File Id="Microsoft.Web.Infrastructure.dll" Name="Microsoft.Web.Infrastructure.dll" Source="$(var.BUILDTARGET)Microsoft.Web.Infrastructure.dll"></File>
              <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.BUILDTARGET)Newtonsoft.Json.dll"></File>
              <File Id="Newtonsoft.Json.xml" Name="Newtonsoft.Json.xml" Source="$(var.BUILDTARGET)Newtonsoft.Json.xml"></File>
              <File Id="System.Net.Http.dll" Name="System.Net.Http.dll" Source="$(var.BUILDTARGET)System.Net.Http.dll"></File>
              <File Id="System.Net.Http.Formatting.dll" Name="System.Net.Http.Formatting.dll" Source="$(var.BUILDTARGET)System.Net.Http.Formatting.dll"></File>
              <File Id="System.Net.Http.Formatting.xml" Name="System.Net.Http.Formatting.xml" Source="$(var.BUILDTARGET)System.Net.Http.Formatting.xml"></File>
              <File Id="System.Net.Http.WebRequest.dll" Name="System.Net.Http.WebRequest.dll" Source="$(var.BUILDTARGET)System.Net.Http.WebRequest.dll"></File>
              <File Id="System.Net.Http.WebRequest.xml" Name="System.Net.Http.WebRequest.xml" Source="$(var.BUILDTARGET)System.Net.Http.WebRequest.xml"></File>
              <File Id="System.Net.Http.xml" Name="System.Net.Http.xml" Source="$(var.BUILDTARGET)System.Net.Http.xml"></File>
              <File Id="System.Web.Helpers.dll" Name="System.Web.Helpers.dll" Source="$(var.BUILDTARGET)System.Web.Helpers.dll"></File>
              <File Id="System.Web.Helpers.xml" Name="System.Web.Helpers.xml" Source="$(var.BUILDTARGET)System.Web.Helpers.xml"></File>
              <File Id="System.Web.Http.dll" Name="System.Web.Http.dll" Source="$(var.BUILDTARGET)System.Web.Http.dll"></File>
              <File Id="System.Web.Http.WebHost.dll" Name="System.Web.Http.WebHost.dll" Source="$(var.BUILDTARGET)System.Web.Http.WebHost.dll"></File>
              <File Id="System.Web.Http.WebHost.xml" Name="System.Web.Http.WebHost.xml" Source="$(var.BUILDTARGET)System.Web.Http.WebHost.xml"></File>
              <File Id="System.Web.Http.xml" Name="System.Web.Http.xml" Source="$(var.BUILDTARGET)System.Web.Http.xml"></File>
              <File Id="System.Web.Mvc.dll" Name="System.Web.Mvc.dll" Source="$(var.BUILDTARGET)System.Web.Mvc.dll"></File>
              <File Id="System.Web.Mvc.xml" Name="System.Web.Mvc.xml" Source="$(var.BUILDTARGET)System.Web.Mvc.xml"></File>
              <File Id="System.Web.Optimization.dll" Name="System.Web.Optimization.dll" Source="$(var.BUILDTARGET)System.Web.Optimization.dll"></File>
              <File Id="System.Web.Providers.dll" Name="System.Web.Providers.dll" Source="$(var.BUILDTARGET)System.Web.Providers.dll"></File>
              <File Id="System.Web.Razor.dll" Name="System.Web.Razor.dll" Source="$(var.BUILDTARGET)System.Web.Razor.dll"></File>
              <File Id="System.Web.Razor.xml" Name="System.Web.Razor.xml" Source="$(var.BUILDTARGET)System.Web.Razor.xml"></File>
              <File Id="System.Web.WebPages.Deployment.dll" Name="System.Web.WebPages.Deployment.dll" Source="$(var.BUILDTARGET)System.Web.WebPages.Deployment.dll"></File>
              <File Id="System.Web.WebPages.Deployment.xml" Name="System.Web.WebPages.Deployment.xml" Source="$(var.BUILDTARGET)System.Web.WebPages.Deployment.xml"></File>
              <File Id="System.Web.WebPages.dll" Name="System.Web.WebPages.dll" Source="$(var.BUILDTARGET)System.Web.WebPages.dll"></File>
              <File Id="System.Web.WebPages.Razor.dll" Name="System.Web.WebPages.Razor.dll" Source="$(var.BUILDTARGET)System.Web.WebPages.Razor.dll"></File>
              <File Id="System.Web.WebPages.Razor.xml" Name="System.Web.WebPages.Razor.xml" Source="$(var.BUILDTARGET)System.Web.WebPages.Razor.xml"></File>
              <File Id="System.Web.WebPages.xml" Name="System.Web.WebPages.xml" Source="$(var.BUILDTARGET)System.Web.WebPages.xml"></File>
              <File Id="WebGrease.dll" Name="WebGrease.dll" Source="$(var.BUILDTARGET)WebGrease.dll"></File>
              <File Id="SBSWebApi.dll" Name="UserWebApi.dll" Source="$(var.BUILDTARGET)SBSWebApi.dll"></File>
              
            </Component>
          </Directory>-->
          
          <!--<Component Id="Service.IIS.Component" Guid="6FAD9EC7-D2B0-4471-A657-C8AF5F6F707F" KeyPath="yes" Win64="yes">
            
            <iis:WebVirtualDir Id="WindowsServer2012RestService.VirtualDir" Alias="WindowsServer2012RestService" 
                               Directory="INSTALLLOCATION" 
                               WebSite="DefaultWebSite">
              <iis:WebApplication Id="WindowsServer2012RestServiceApp"
                                  Name="WindowsServer2012RestServiceApp" 
                                  WebAppPool="WindowsServer2012RestServicePool"/>
            </iis:WebVirtualDir>
            <iis:WebAppPool Id="WindowsServer2012RestServicePool"
                            Name="WindowsServer2012RestServicePool"
                            ManagedRuntimeVersion="v4.0" ManagedPipelineMode="integrated" Identity="localSystem">
            </iis:WebAppPool>
          </Component>-->
          
          <Directory Id="GAC" Name="GAC">
            <Component Id="SBSBusinessObjectGAC" Guid="22887611-B13E-41EE-897C-D78830E68AEB" Win64="yes">
              <File Id="sbs_business_object_gac" Name="SBSBusinessObject.dll" Source="$(var.BUILDTARGET)SBSBusinessObject.dll" Assembly=".net" KeyPath="yes"></File>
            </Component>
            <!--<Component Id="SBSWMINotificationGAC" Guid="22887311-E13E-43EE-897C-D74830E66AEB" Win64="yes">
              <File Id="sbs_wmi_notification_gac" Name="SBSWMINotifications.dll" Source="$(var.BUILDTARGET)SBSWMINotifications.dll" Assembly=".net" KeyPath="yes"></File>
            </Component>-->
            <Component Id="WindowsServer2012WMIComponentServiceGAC" Guid="28E9E9B3-3F34-427E-B003-C49B61836E48" Win64="yes">
              <File Id="wmi_component_service_exe_gac" Name="WindowsServer2012WMIComponentService.exe" Source="$(var.BUILDTARGET)WindowsServer2012WMIComponentService.exe" Assembly=".net" KeyPath="yes"></File>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="ProductFeature" Title="RESTFulWMISetup" Level="1">
      <!-- TODO: Remove the comments around this ComponentRef element and the Component above in order to add resources to this installer. -->
      <!-- <ComponentRef Id="ProductComponent" /> -->

      <!-- Note: The following ComponentGroupRef is required to pull in generated authoring from project references. -->
      <ComponentRef Id="WindowsServer2012WMIComponent" />
      <ComponentRef Id="SBSBusinessObjectGAC"/>
      <ComponentRef Id="WindowsServer2012WMIComponentServiceGAC"/>
      <!--<ComponentRef Id="SBSWMINotificationGAC"/>
      <ComponentRef Id="Service.IIS.Component"/>
      <ComponentRef Id="WindowsServer2012WebApiComponent"/>
      <ComponentRef Id="WindowsServer2012WebApiConfig"/>-->
    </Feature>
  </Product>
</Wix>
