<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.turen.llk.server.server.GreetingServiceImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addChengJiServlet</servlet-name>
  	<servlet-class>com.turen.llk.server.server.AddChengJiServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>getPaiHangBangServlet</servlet-name>
  	<servlet-class>com.turen.llk.server.server.GetPaiHangBangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/friendllkserver/greet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addChengJiServlet</servlet-name>
  	<url-pattern>/friendllkserver/addChengJiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>getPaiHangBangServlet</servlet-name>
  	<url-pattern>/friendllkserver/getPaiHangBangServlet</url-pattern>
  </servlet-mapping>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Friendllkserver.html</welcome-file>
  </welcome-file-list>

</web-app>
