<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CommonResource.Properties.Settings.TrackingConnectionString"
            connectionString="Data Source=ANDY-PC\SQLExpress;Initial Catalog=Tracking;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="CommonResource.Properties.Settings.WorkflowInstanceStoreConnectionString"
            connectionString="Data Source=ANDY-PC\SQLExpress;Initial Catalog=WorkflowInstanceStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>