<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CommonResource.Properties.Settings.TrackingConnectionString1"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Tracking;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CommonResource.Properties.Settings.WorkflowInstanceStoreConnectionString1"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=WorkflowInstanceStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>