img {
    border-style: none;
}

.longTile 
{
    float: left;
	width: 358px;
	height: 173px;
	margin:6px;	
	text-decoration: none;
	position: relative;
}

.shortTile {
	float:left;
	width: 173px;
	height: 173px;
	margin:6px;	
	text-decoration: none;
	position: relative;
}

.ftile-content 
{
    width:100%;
    height:100%;
}

.ftile-hover 
{
    background-color: #3333BB
}

.ftile-content {
	width: 100%;
	height: 100%;
	text-align: center;	
}

.ftile-title {
	text-decoration: none;
	color: black;
	position: absolute;
	top: 20px;
	left: 10px;
    font-size: large;
}

.ftile-picture 
{
	position: absolute;
	text-align: right;
	top: 0px;
	bottom: 0px;
	margin: auto;
    right: 40px;
}

.ftile-alertCount 
{
    position: absolute;
    text-align: right;
    top: 80px;
    right: 10px;
    font-size: x-large;
	color: black;
}

.ftile-description
{
    position: absolute;
    left: 10px;
    bottom: 10px;
	color: black;
	font-size:small;
}

#sortable { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
}

.pageContent {
	display: block;
	position: relative;
	clear:both;
}

#ftemplate {
	display:none;
}

.inputBlock {
	display: block;
	line-height: 2em;
	margin-bottom : 1em;	
}

/* tile themes */

.tile-title-icon {
	display: none;
}

.tile-picture-icon
{
	position: relative;
    top: 40px;
    text-align: center;
}

.tile-alertCount-icon
{
    display: none;
}

.tile-description-icon
{
    position: absolute;
    left: 10px;
    bottom: 10px;
	color: white;
	font-size:small;
}
