<script id="userSummaryTemplate" type="text/x-jQuery-tmpl">
            <tr class="userSummary" draggable="true">
                <td class="name">Name:${Name}</td>
                <td class="logonName">Role:${LogonName}</td>
                <td class="accessLevel">AccessLevel:${AccessLevel}</td>
            </tr>
    </script>
    <script id="shareFolderTemplate" type="text/x-jQuery-tmpl">
            <div class="shareFolder>
                
            </div>
    </script>
    <script id="userDetailTemplate" type="text/x-jQuery-tmpl">
         <tr class="userDetail" draggable="true">
            <td class="name">Name:${Name}</td>
            <td class="logonName">Role:${LogonName}</td>
            <td class="accessLevel">AccessLevel:${AccessLevel}</td>
         </tr>
         <tr>
            <td><div class="detailContent">

            </div></td>
         </tr>
    </script>