#pagecontent
{
    display:block;
    float:left;
    margin: 0;
    width:100%;
    height:100%;
}
#controllerpanel
{
    float:left;
    width:30%;
    height:100%;
    overflow:scroll;
}
.selectedcontroller {
    background-color: #65C294;
}
#designerpanel
{
    float:right;
    margin: 0;
    padding: 0;
    width:70%;
    height:100%;
    overflow:scroll;
}
#designercanvas
{
    width:100%;
    height:100%;
    margin:0;
}