body
{
    font-family:Arial, Helvetica, Sans-Serif; 
    font-size:0.8em;
}
#main
{
    left: 0;
    overflow: hidden; 
    position: absolute; 
    top: 0;    
    width:100%;
    height:100%;
}
#title
{
    float:left;
    width:100%;
    height:20%;
}
#mainpage
{
    float:left;
    width:100%;
    height:70%;
}
#dashboard
{
    float:left;
    width:20%;
    height:100%;
}
.showpanel
{
    float:left;
    width:80%;
    height:100%;
}
#setrackingmain
{
    float:left;
    width:80%;
    height:100%;
    overflow:scroll;
}
#sestartprojectmain
{
    float:left;
    width:80%;
    height:100%;
}
#setrackingactions
{
    float:left;
    width:20%;
    height:100%;
}
 #sestartprojectactions
 {
      float:left;
    width:20%;
    height:100%;
 }
 .projectaction
 {
     float:left;
     width:100%;
     height:20%;
 }
 #setrackingreport
 {
     width:100%;
 }
 .candidatecommand
 {
    color: #000000;
    cursor: pointer;
    font-family: Segoe ui semibold,helvetica,Sans-Serif;
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.3em #FFFFFF;
 }
.reporttable { border-collapse:collapse;}
.reporttable h4 { margin:0px; padding:0px;}
.reporttable img { float:right;}
.reporttable ul { margin:10px 0 10px 40px; padding:0px;}
.reporttable th { background:#7CB8E2 url(../Scripts/lib/jexpand/header_bkg.png) repeat-x scroll center left; color:#fff; padding:7px 15px; text-align:left;}
.reporttable td { background:#C7DDEE none repeat-x scroll center left; color:#000; padding:7px 15px; }
.reporttable tr.odd td { background:#fff url(../Scripts/lib/jexpand/row_bkg.png) repeat-x scroll center left; cursor:pointer; }
.reporttable div.arrow { background:transparent url(../Scripts/lib/jexpand/arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
.reporttable div.up { background-position:0px 0px;}
.reporttable > tr:hover
{
    background:#222222;
}