body 
{
    
}
#main
{
    display:block;
    float:left;
    width:100%;
    height:100%;
}
#title
{
    float:left;
    width:100%;
    height:20%;
}
#mainpage
{
    float:left;
    width:100%;
    height:70%;
}
#dashboard
{
    float:left;
    width:20%;
    height:100%;
}
.showpanel
{
    float:left;
    width:80%;
    height:100%;
}
#setrackingmain
{
    float:left;
    width:80%;
    height:100%;
}
#setrackingactions
{
    float:left;
    width:20%;
    height:100%;
}