<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="folder1" value="d:\\Extra\\FRIENDS"/>
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
    <services>
      <service behaviorConfiguration="CalculatorServiceBehavior" name="FileDigger.FileDigger">
        <endpoint address="" binding="wsHttpBinding" contract="FileDigger.IFileDigger" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/ServiceModelSamples/service" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>